<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AngularJS Routing example</title>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <style>
      body {
        background-color: #F5F5F5;
      }
      header {
        background: #e3fcf6;
        height: 80px;
        width: 100%;
      }
      .fa-circle{
        color: red;
        
      }
      .fa-play{
        padding: 3px 5px !important;
        width: 1em !important;
      }
      .record{
        border: 3px solid #000;
        border-radius: 4px;
        padding: 3px;
      }
      .emailSendBox{
        background: transparent;
        border: 3px solid #000;
        border-radius: 3px; 
        padding: 3px;
        font-size: 20px;
      }
      .emailSendBox:placeholder{
        color: #d5d5d5;

      }
      .send{
        position: absolute;
        left: 193px;
        bottom: -3px;
      }
      body{
        background: url('img/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      .step{
        background: #d4d1c5;
        padding: 40px;
        opacity: 0.8;
        margin-top: 40px;
      }
      .step ol{
        margin-left: 30px;
        padding: 0;
      }
      .step a{
        text-align: center;
        margin:0 5px;
      }
      .step .pendant{
        position: absolute;
        right: 50px;
        top: 0;
        width: 120px;
      }
      .step .actions{
        margin: 50px auto 10px;
        display: block;
        width: 150px
      }
      .step p{
        margin: 0;
      }
      .design{
        width: 90px;
        position: absolute;
        right: 65px;
        top: 134px;
      }
    </style>
  </head>

  <body ng-app="sampleApp">
    <div ng-controller="mainController">
      <div class="row">
        <header><img src="" class="logo"/></header>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-6 step" ng-show="state==='initial'">
          <div class="row">
          <div class="col-md-12">
          <b>Tell your story</b>
        </div>
          <ol>
            <li>Record/upload your sound</li>
            <li>Approve the wave</li>
            <li>Get your code</li>
          </ol>
          <img src="img/pendant.png" class="pendant"/>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="actions">
          <a ng-click="setRecord()"><i  class="fas fa-microphone fa-2x"></i></a>
          <a ng-click="setUpload()"><i class="fas fa-cloud-upload-alt fa-2x"></i></a>
            </div>
          </div>
          <br/>
          <p>Click to <b>record/upload</b> on the pendant</p>
          </div>
        </div>
        <div class="col-md-4 offset-md-6 step" ng-show="state==='record'">
          <ng-audio-recorder id='audioInput' audio-model='recordedInput' on-conversion-complete="method()" on-record-start="console.log('horse')" on-record-complete="$parent.recordingComplete(recorder)">
          <p><b>Share your story</b><br/>
            Click to record
          </p>
          
          <a ng-click="recorder.startRecord()" type="button" ng-hide="recorder.status.isRecording"><i class="fas fa-circle fa-4x record"></i></a>

          <a ng-click="recorder.stopRecord()" type="button" ng-hide="recorder.status.isRecording === false"><i class="fas fa-play fa-4x record"></i></a>
          <a ng-click="recorder.playbackRecording()" type="button"
                    ng-disabled="recorder.status.isRecording || !recorder.audioModel"><i class="fas fa-play fa-4x record"></i></a>
          <p>Click to <b>record/upload</b> on the pendant</p>
          </ng-audio-recorder>
          <img src="img/pendant.png" class="pendant"/>
          <input placeholder="Email" class="emailSendBox"/><a ng-click="horse()">
          <i class="fas fa-caret-right fa-3x send"></i></a>
        </div>
      </div>
        <div class="col-md-4 offset-md-6 step" ng-show="state==='upload'">
          <p><b>Share your story</b><br/>
            Click to upload
          </p>
          
          <a type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="*/*" ngf-max-height="1000" ngf-max-size="10MB"><i class="fas fa-upload fa-3x"></i></a>
          <a><i class="fas fa-play fa-3x"></i></a>
          <img src="img/pendant.png" class="pendant"/>
          <img ng-show="designReady" class="design" src="{{imgsrc}}" />
          <p>Click to <b>record/upload</b> on the pendant</p>
          <div>
            <input placeholder="Email" class="emailSendBox"/><a ng-click="horse()">
            <i class="fas fa-caret-right fa-3x send"></i></a>
          </div>
        </div>
        <div class="col-md-4 offset-md-6 step" ng-show="state==='receipt'">
          <p><b>Share your story</b><br/>
            Click to upload
          </p>
          
          <a><i class="fas fa-upload fa-3x"></i></a>
          <a><i class="fas fa-play fa-3x"></i></a>
          <p>Click to <b>record/upload</b> on the pendant</p>
          <div>
            <input placeholder="Email" class="emailSendBox"/><a ng-click="horse()">
            <i class="fas fa-caret-right fa-3x send"></i></a>
          </div>
        </div>
        <div class="col-md-4 offset-md-6" >
          <ng-audio-recorder id='audioInput' audio-model='recordedInput' on-conversion-complete="method()" on-record-start="console.log('horse')" on-record-complete="$parent.recordingComplete(recorder)">
          <!-- Start controls, exposed via recorder-->
          <div ng-if="recorder.isAvailable">
            <button ng-click="recorder.startRecord()" type="button" ng-disabled="recorder.status.isRecording">
                Start Record
            </button>
            <button ng-click="recorder.stopRecord()" type="button" ng-disabled="recorder.status.isRecording === false">
                Stop Record
            </button>
            <button ng-click="recorder.playbackRecording()" type="button"
                    ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Play Back
            </button>
            <button ng-click="recorder.save()" ng-disabled="recorder.status.isRecording || !recorder.audioModel">
                Download
            </button>
          </div>       
          <div ng-if="!recorder.isAvailable">
            Message for users when recording is not possible.
          </div>
          <!-- End controls-->
        </ng-audio-recorder>
      	<button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="*/*" ngf-max-height="1000" ngf-max-size="10MB">
      Select File</button>
  <br><br>
  File:
  <div style="font:smaller">{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"  
               ng-bind="f.progress + '%'"></div>
      </span>
    </div> 
    </div>  
      <div class="col-md-4" ng-show="file.name">
        <p>{{file.name}}</p>
        <button ng-click="generateDesign(file)"> Get design </button>
      </div>
      <div class="col-md-4">
        <img style="width:100%;" src="{{imgsrc}}" />
      </div>
      </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-route.min.js"></script>
    <script src="bower_components/angularAudioRecorder/dist/angular-audio-recorder.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/wavesurfer.js/dist/wavesurfer.min.js"></script>

    <script>
		// Define an angular module for our app
		var sampleApp = angular.module('sampleApp', ['ngRoute','ngFileUpload', 'angularAudioRecorder']);
		// Define routing for app
		// * / => ListOrdersCtrl
		// * /new => NewOrderCtrl
		// * /show/:orderId => ShowOrderCtrl
    sampleApp.config(function (recorderServiceProvider) {
    recorderServiceProvider
      .forceSwf(false)
      //.setSwfUrl('/lib/recorder.swf')
      .withMp3Conversion(true);
    });

		sampleApp.directive("fileread", [function () {
		    return {
		        scope: {
		            fileread: "="
		        },
		        link: function (scope, element, attributes) {
		            element.bind("change", function (changeEvent) {
		                var reader = new FileReader();
		                reader.onload = function (loadEvent) {
		                    scope.$apply(function () {
		                        scope.fileread = loadEvent.target.result;
		                    });
		                }
		                reader.readAsDataURL(changeEvent.target.files[0]);
		            });
		        }
		    }
		}]);
		sampleApp.controller('mainController', function($scope, $http, Upload, $timeout) {
      $scope.horse=function(){
        console.log("Horse");
      }
      $scope.state = 'initial';
      $scope.designReady = false;
      $scope.setRecord = function(){
        $scope.state= 'record'
        console.log("setting state");
      }
      $scope.setUpload = function(){
        $scope.state= 'upload'
      }
      $scope.generateDesign = function(file){
        $http.get('api/designs/generateDesign/'+ file.name).then(function(res){
          if(res.data){
            $scope.designReady = true;
            console.log(res.data)
            $scope.imgsrc = "/api/containers/designs/download/"+res.data
          }
        });
      }
			$scope.uploadFiles = function(file, errFiles) {
        	$scope.f = file;
        	$scope.errFile = errFiles && errFiles[0];
        	if (file){
        	    file.upload = Upload.upload({
        	        url: 'api/containers/designs/upload',
        	        data: {file: file}
        	    }).then(function (response) {
        	        file.result = response.data;
                  console.log(response.data.result.files);
        	        $scope.file = response.data.result.files.file[0];
                  $scope.generateDesign($scope.file);
        	    }, function (response) {
        	        if (response.status > 0)
        	            $scope.errorMsg = response.status + ': ' + response.data;
        	    }, function (evt) {
        	        file.progress = Math.min(100, parseInt(100.0 * 
        	                                 evt.loaded / evt.total));
        	    });
        	}   
   			}
        $scope.method= function(){
          console.log("For goooodnes sake");
        }
        $scope.recordingComplete = function(data){
          console.log("Horse");
          console.log(data);
        }
        $scope.generateDesignFromRecord = function(){
          console.log($scope.recorder);
          console.log($scope.recordedInput);
        }
		});
    </script>

	<!-- Define templates -->

  </body>
</html>